name: example-action

on:
  push:
    branches:
      - main
    paths:
      - example-action/**
      - .github/workflows/example-action.yaml
  pull_request:
    paths:
      - example-action/**
      - .github/workflows/example-action.yaml

defaults:
  run:
    working-directory: example-action

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: example-action/yarn.lock
      - run: yarn
      - run: yarn start
        env:
          # GitHub creates an environment variable for the input.
          # The environment variable created converts input names to uppercase letters and replaces spaces with _ characters.
          # https://docs.github.com/en/actions/creating-actions/metadata-syntax-for-github-actions#inputs
          INPUT_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: example-action/yarn.lock
      - run: yarn
      - run: yarn lint --fix
      - run: yarn format
      - run: yarn typecheck
      - uses: int128/update-generated-files-action@v2
